### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
stu_df1 = "Resources/students_complete.csv"
school_df = "Resources/schools_complete.csv"
sch_overall_df = "Resources/students_complete.csv"
stu_df2 = "Resources/students_complete.csv"
sch_sum_df =  "Resources/students_complete.csv"


# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

stu_df1  = pd.read_csv(stu_df1)
school_df = pd.read_csv(school_df)
sch_overall_df = pd.read_csv(sch_overall_df)
stu_df2  = pd.read_csv(stu_df2)
sch_sum_df =  pd.read_csv(sch_sum_df)

stu_df1 = "Resources/students_complete.csv"
stu_df1  = pd.read_csv(stu_df1)
# set the index to 'None' via its name property 
#stu_df2.index.names = [None] 
#stu_df1.head()



# multiple indexing or hierarchical indexing for Math scores and Grade level
 
#subj_df=subj_df.set_index("school_name", "grade")
#subj_df

#subj_df=subj_df.reset_index()
#subj_df

In [90]:
print("\nDistrict Summary")
df = pd.DataFrame([[15,39170  ,    "$24,649,428.00"    ,78.99 ,81.88 ,75 ,85.80 ,80.43]],
columns = ["Total Schools","Total Students","Total Budget", "Ave Math Score", "Ave Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]) 
df

District Summary

,Total Schools,Total Students,Total Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428.00",78.99,81.88,75,85.8,80.43

In [2]:
number_sch = school_data["School ID"].count()
school_data["number_sch"] = number_sch
number_sch
print(number_sch)

15

In [24]:
school_data.describe()

       School ID         size        budget  number_sch  total_budget
count  15.000000    15.000000  1.500000e+01        15.0          15.0
mean    7.000000  2611.333333  1.643295e+06        15.0    24649428.0
std     4.472136  1420.915282  9.347763e+05         0.0           0.0
min     0.000000   427.000000  2.480870e+05        15.0    24649428.0
25%     3.500000  1698.000000  1.046265e+06        15.0    24649428.0
50%     7.000000  2283.000000  1.319574e+06        15.0    24649428.0
75%    10.500000  3474.000000  2.228999e+06        15.0    24649428.0
max    14.000000  4976.000000  3.124928e+06        15.0    24649428.0

In [4]:
#Calculate the total number of students
students_count =student_data["Student ID"].count()
student_data["students_count"] = students_count
students_count

39170

In [5]:
#Calculate the total budget
total_budget= school_data["budget"].sum()
school_data["total_budget"] = total_budget
print(total_budget)

24649428

In [6]:
#Calculate the average math score
ave_math_score= student_data["math_score"].mean()
student_data["ave_math_score"] = ave_math_score
student_data["ave_math_score"].round(2)

0        78.99
1        78.99
2        78.99
3        78.99
4        78.99
         ...
39165    78.99
39166    78.99
39167    78.99
39168    78.99
39169    78.99
Name: ave_math_score, Length: 39170, dtype: float64

In [7]:
#Calculate the average reading score
ave_read_score= student_data["reading_score"].mean()
student_data["ave_read_score"] = ave_read_score
student_data["ave_read_score"].round(2)

0        81.88
1        81.88
2        81.88
3        81.88
4        81.88
         ...
39165    81.88
39166    81.88
39167    81.88
39168    81.88
39169    81.88
Name: ave_read_score, Length: 39170, dtype: float64

In [8]:
#Calculate the overall passing rate (overall average score)
overall_pass_rate =(student_data["ave_read_score"] + student_data["ave_math_score"])/2
student_data["overall_pass_rate"] = overall_pass_rate
overall_pass_rate
student_data["overall_pass_rate"].round(2)

0        80.43
1        80.43
2        80.43
3        80.43
4        80.43
         ...
39165    80.43
39166    80.43
39167    80.43
39168    80.43
39169    80.43
Name: overall_pass_rate, Length: 39170, dtype: float64

In [9]:
#Calculate the total number of students
students_count =student_data["Student ID"].count()
student_data["students_count"] = students_count
students_count

39170

In [10]:
pass_math=student_data["math_score"]>=70
student_data["pass_math"] = pass_math
pass_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [11]:
pass_math_count = student_data["pass_math"].sum()
pass_math_count

29370

In [12]:
over_70_math =(pass_math_count/student_data["students_count"])*100
student_data["over_70_math"] = over_70_math
over_70_math
student_data["over_70_math"].round(2)

0        74.98
1        74.98
2        74.98
3        74.98
4        74.98
         ...
39165    74.98
39166    74.98
39167    74.98
39168    74.98
39169    74.98
Name: over_70_math, Length: 39170, dtype: float64

In [76]:
pass_read=student_data["reading_score"]>=70
student_data["pass_read"] = pass_read
pass_read

0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool

In [62]:
pass_read_count = student_data["pass_read"].sum()
pass_read_count

33610

In [63]:
over_70_read =(pass_read_count/student_data["students_count"])*100
student_data["over_70_read"] = over_70_read
over_70_read
student_data.round({"over_70_read": 1})
over_70_read.head(3)

0    85.805463
1    85.805463
2    85.805463
Name: students_count, dtype: float64

In [64]:
print("Schools Ave Math")
district_math = topschool_df.groupby(by="school_name")["math_score"].mean() 
district_math

Schools Ave Math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [65]:
print("Schools Ave Reading")
district_reading = topschool_df.groupby(by="school_name")["reading_score"].mean() 
district_reading.head()

Schools Ave Reading

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [66]:
print("Overall Average")
district_overall=(topschool_df.groupby(by="school_name")["reading_score"].mean()) +(topschool_df.groupby(by="school_name")["math_score"].mean())
district_overall = district_overall/2
district_overall.head(20).round(2)

Overall Average

school_name
Bailey High School       79.04
Cabrera High School      83.52
Figueroa High School     78.93
Ford High School         78.92
Griffin High School      83.58
Hernandez High School    79.11
Holden High School       83.81
Huang High School        78.91
Johnson High School      79.02
Pena High School         83.94
Rodriguez High School    78.79
Shelton High School      83.54
Thomas High School       83.63
Wilson High School       83.63
Wright High School       83.82
dtype: float64

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate
school_data.describe()

In [311]:
#topschool_df= pd.merge(school_data,stu_df1, on="school_name")
#topschool_df.set_index("grade", "school_name")


grade_df = pd.DataFrame(topschool_df["math_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).mean() + topschool_df["reading_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).mean())/2
#grade_df.head()
grade_df
print("Overall averages in Reading and Math per Grade Level\n")
#grouped_data.head(200).round(2).unstack()

Overall averages in Reading and Math per Grade Level

In [329]:
school=grade_df.groupby("school_name")
school.head()

                                     0
school_name           grade
Bailey High School    10th   78.951977
                      11th   79.230616
                      12th   78.702335
                      9th    79.193416
Cabrera High School   10th   83.703863
                      11th   83.276971
                      12th   83.782723
                      9th    83.385417
Figueroa High School  10th   78.974443
                      11th   78.762341
                      12th   79.268116
                      9th    78.800818
Ford High School      10th   79.467514
                      11th   78.660850
                      12th   78.421150
                      9th    78.996999
Griffin High School   10th   83.967980
                      11th   84.065097
                      12th   83.684932
                      9th    82.706601
Hernandez High School 10th   78.998778
                      11th   79.266085
                      12th   79.021855
                      9th    79.152677
Holden High School    10th   83.377193
                      11th   84.407767
                      12th   83.777108
                      9th    83.732283
Huang High School     10th   78.710561
                      11th   78.932039
                      12th   78.765812
                      9th    79.158768
Johnson High School   10th   78.732274
                      11th   79.053840
                      12th   79.045406
                      9th    79.224286
Pena High School      10th   83.492000
                      11th   84.332031
                      12th   84.356354
                      9th    83.716364
Rodriguez High School 10th   78.621154
                      11th   78.630219
                      12th   79.033587
                      9th    78.926546
Shelton High School   10th   83.179688
                      11th   83.878641
                      12th   83.280323
                      9th    83.771698
Thomas High School    10th   83.671021
                      11th   83.542169
                      12th   83.664201
                      9th    83.659436
Wilson High School    10th   83.872937
                      11th   83.479967
                      12th   83.676734
                      9th    83.512678
Wright High School    10th   83.911523
                      11th   83.996552
                      12th   83.859079
                      9th    83.549020

In [325]:
grade_9th=grade_df.loc([grade="10th 78.951977"])
grade_9th.head()

SyntaxError: invalid syntax (<ipython-input-325-2db57ed6bd2b>, line 1)

In [261]:


Holden_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="9thth",  "reading_score"].mean()
print(Holden_9th_read_ave)
Holden_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Holden_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Holden_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Holden_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Holden_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Holden_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Holden_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
Holden_overall = (Holden_read_ave + Holden_math_ave)/2
Holden_9th_sr = pd.Series(["Holden High School",Holden_9th_read_ave, Holden_12th_math_ave, Holden_10th_read_ave, Holden_11th_read_ave, Holden_12th_read_ave,Holden_9th_math_ave, Holden_10th_math_ave, Holden_11th_math_ave, Holden_12th_math_ave,0,0,0,0])
print(Holden_sr)

(       Student ID       student_name gender grade         school_name  \
22847       22847   Daniel Rodriguez      M  11th  Holden High School
22848       22848      Bryan Perkins      M   9th  Holden High School
22849       22849       Scott Holder      M   9th  Holden High School
22850       22850       Troy Jackson      M  11th  Holden High School
22851       22851      William Gomez      M   9th  Holden High School
...           ...                ...    ...   ...                 ...
23269       23269     Sharon Douglas      F   9th  Holden High School
23270       23270      Lauren Little      F   9th  Holden High School
23271       23271  Christine Kaufman      F   9th  Holden High School
23272       23272    Christina Smith      F  11th  Holden High School
23273       23273       Joyce Martin      F  10th  Holden High School

       reading_score  math_score
22847             86          92
22848             91          81
22849             98          93
22850             80          90
22851             76          85
...              ...         ...
23269             78          93
23270             94          95
23271             83          95
23272             94          84
23273             77          92

[427 rows x 7 columns], nan)
0    Holden High School
1                83.815
2               83.8033
3               83.8091
dtype: object

In [262]:
grades_df["9th Read Ave"] = Holden_9th_read_ave

ValueError: Length of values does not match length of index

In [263]:
#grouped_9th = topschool_df["math_score"].groupby([topschool_df["school_name"],topschool_df["grade"]=="9th"])
#grouped_data_9th.head()

grouped_9th = top_school_df["math_score"].mean().to_frame(name="mean").groupby([topschool_df["school_name"],topschool_df["grade"]=="9th"])
grouped_9th.head()

NameError: name 'top_school_df' is not defined

In [264]:
df1.head()

,School Name,School Type,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,,,,,,,,,

In [265]:
print("Top Performing schools in Reading")
groupby_reading =topschool_df["reading_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).agg([np.mean]).unstack().round()
groupby_reading

Top Performing schools in Reading

                       mean
grade                  10th  11th  12th   9th
school_name
Bailey High School     81.0  81.0  81.0  81.0
Cabrera High School    84.0  84.0  84.0  84.0
Figueroa High School   81.0  81.0  81.0  81.0
Ford High School       81.0  80.0  81.0  81.0
Griffin High School    84.0  84.0  84.0  83.0
Hernandez High School  81.0  81.0  81.0  81.0
Holden High School     83.0  84.0  85.0  84.0
Huang High School      82.0  81.0  80.0  81.0
Johnson High School    81.0  81.0  81.0  81.0
Pena High School       84.0  84.0  85.0  84.0
Rodriguez High School  81.0  81.0  80.0  81.0
Shelton High School    83.0  84.0  83.0  84.0
Thomas High School     84.0  84.0  84.0  84.0
Wilson High School     84.0  84.0  84.0  84.0
Wright High School     84.0  84.0  84.0  84.0

print("Top Performing schools in Math")
groupby_math=topschool_df.groupby(["grade"=="9th","math_score"].mean()))

#.mean().unstack().round()
#.sort_values(by="True")
groupby_math

In [298]:
grouped_data =pd.DataFrame((topschool_df["math_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).agg([np.mean])
+ topschool_df["reading_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).agg([np.mean])))/2



#grouped_data1 
print("Overall averages in Reading and Math per Grade Level\n")
grouped_data1.head(200).round().unstack()

Overall averages in Reading and Math per Grade Level

In [296]:
grouped_data.head()

                                 mean
school_name         grade
Bailey High School  10th   157.903955
                    11th   158.461231
                    12th   157.404669
                    9th    158.386831
Cabrera High School 10th   167.407725

In [267]:
Wilson_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School", "reading_score"].mean()
Wilson_read_ave
Wilson_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School", "math_score"].mean()
Wilson_math_ave
Wilson_overall = (Wilson_read_ave + Wilson_math_ave)/2
Wilson_overall 

Wilson_sr = pd.Series(["Wilson High School",Wilson_read_ave,Wilson_math_ave, Wilson_overall])
print(Wilson_sr)

0    Wilson High School
1               83.9895
2               83.2742
3               83.6318
dtype: object

In [268]:
Cabrera_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School", "reading_score"].mean()
Cabrera_read_ave
Cabrera_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School", "math_score"].mean()
Cabrera_math_ave
Cabrera_overall = (Cabrera_read_ave + Cabrera_math_ave)/2
Cabrera_overall 

Cabrera_sr = pd.Series(["Cabrera High School",Cabrera_read_ave,Cabrera_math_ave, Cabrera_overall])
print(Cabrera_sr)

0    Cabrera High School
1                83.9758
2                83.0619
3                83.5188
dtype: object

In [269]:
Wright_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School", "reading_score"].mean()
Wright_read_ave
Wright_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School", "math_score"].mean()
Wright_math_ave
Wright_overall = (Wright_read_ave + Wright_math_ave)/2
Wright_overall 

Wright_sr = pd.Series(["Wright High School",Wright_read_ave,Wright_math_ave, Wright_overall])
print(Wright_sr)

0    Wright High School
1                83.955
2               83.6822
3               83.8186
dtype: object

In [270]:
Shelton_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School", "reading_score"].mean()
Shelton_read_ave
Shelton_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School", "math_score"].mean()
Shelton_math_ave
Shelton_overall = (Shelton_read_ave + Shelton_math_ave)/2
Shelton_overall 

Shelton_sr = pd.Series(["Shelton High School",Shelton_read_ave,Shelton_math_ave, Shelton_overall])
print(Shelton_sr)

0    Shelton High School
1                83.7257
2                83.3595
3                83.5426
dtype: object

In [271]:
Thomas_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School", "reading_score"].mean()
Thomas_read_ave
Thomas_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School", "math_score"].mean()
Thomas_math_ave
Thomas_overall = (Thomas_read_ave + Thomas_math_ave)/2
Thomas_overall 

Thomas_sr = pd.Series(["Thomas High School",Thomas_read_ave,Thomas_math_ave, Thomas_overall])
print(Thomas_sr)

0    Thomas High School
1               83.8489
2               83.4183
3               83.6336
dtype: object

In [272]:
Griffin_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School", "reading_score"].mean()
Griffin_read_ave
Griffin_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School", "math_score"].mean()
Griffin_math_ave
Griffin_overall = (Griffin_read_ave + Griffin_math_ave)/2
Griffin_overall 

Griffin_sr = pd.Series(["Griffin High School",Griffin_read_ave,Griffin_math_ave, Griffin_overall])
print(Griffin_sr)

0    Griffin High School
1                83.8168
2                83.3515
3                83.5841
dtype: object

In [273]:
Pena_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School", "reading_score"].mean()
Pena_read_ave
Pena_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School", "math_score"].mean()
Pena_math_ave
Pena_overall = (Pena_read_ave + Pena_math_ave)/2
Pena_overall 

Pena_sr = pd.Series(["Pena High School",Pena_read_ave,Pena_math_ave, Pena_overall])
print(Pena_sr)

0    Pena High School
1             84.0447
2             83.8399
3             83.9423
dtype: object

In [274]:
Holden_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School", "reading_score"].mean()
Holden_read_ave
Holden_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School", "math_score"].mean()
Holden_math_ave
Holden_overall = (Holden_read_ave + Holden_math_ave)/2
Holden_overall 

Holden_sr = pd.Series(["Holden High School",Holden_read_ave,Holden_math_ave, Holden_overall])
print(Holden_sr)

0    Holden High School
1                83.815
2               83.8033
3               83.8091
dtype: object

In [275]:


Holden_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="9thth",  "reading_score"].mean()
Holden_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Holden_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Holden_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Holden_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Holden_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Holden_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Holden_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
Holden_overall = (Holden_read_ave + Holden_math_ave)/2
Holden_9th_df = pd.Series(["Holden High School","grade", Holden_9th_read_ave, Holden_12th_math_ave, Holden_10th_read_ave, Holden_11th_read_ave, Holden_12th_read_ave,Holden_9th_math_ave, Holden_10th_math_ave, Holden_11th_math_ave, Holden_12th_math_ave])
Holden_9th_df

StopIteration:

In [292]:
df_9th  = pd.Series(["Holden High School","grade", Holden_9th_read_ave, Holden_12th_math_ave, Holden_10th_read_ave, Holden_11th_read_ave, Holden_12th_read_ave,Holden_9th_math_ave, Holden_10th_math_ave, Holden_11th_math_ave, Holden_12th_math_ave], name="vals")

In [278]:
Bailey_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()

Bailey_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Bailey_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Bailey_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Bailey_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Bailey_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Bailey_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Bailey_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Bailey_overall = (Bailey_read_ave + Bailey_math_ave))

In [279]:
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Bailey_overall = (Bailey_read_ave + Bailey_math_ave)

In [280]:
Wilson_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Wilson_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Wilson_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Wilson_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Wilson_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Wilson_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Wilson_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Wilson_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Wilson_overall = (Wilson_read_ave + Wilson_math_ave)
Wilson_9th_sr = pd.Series(["Wilson High School","grade", Wilson_9th_read_ave, Wilson_12th_math_ave, Wilson_10th_read_ave, Wilson_11th_read_ave, Wilson_12th_read_ave,Wilson_9th_math_ave, Wilson_10th_math_ave, Wilson_11th_math_ave, Wilson_12th_math_ave])
print(Wilson_sr)

0    Wilson High School
1               83.9895
2               83.2742
3               83.6318
dtype: object

In [281]:
Cabrera_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Cabrera_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Cabrera_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Cabrera_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Cabrera_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Cabrera_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Cabrera_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Cabrera_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Cabrera_overall = (Cabrera_read_ave + Cabrera_math_ave)
Cabrera_9th_sr = pd.Series(["Cabrera High School","grade", Cabrera_9th_read_ave, Cabrera_12th_math_ave, Cabrera_10th_read_ave, Cabrera_11th_read_ave, Cabrera_12th_read_ave,Cabrera_9th_math_ave, Cabrera_10th_math_ave, Cabrera_11th_math_ave, Cabrera_12th_math_ave])
print(Cabrera_sr)

0    Cabrera High School
1                83.9758
2                83.0619
3                83.5188
dtype: object

In [282]:
Wright_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Wright_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Wright_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Wright_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Wright_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Wright_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Wright_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Wright_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Wright_overall = (Wright_read_ave + Wright_math_ave)
Wright_9th_sr = pd.Series(["Wright High School","grade", Wright_9th_read_ave, Wright_12th_math_ave, Wright_10th_read_ave, Wright_11th_read_ave, Wright_12th_read_ave,Wright_9th_math_ave, Wright_10th_math_ave, Wright_11th_math_ave, Wright_12th_math_ave])
print(Wright_sr)

0    Wright High School
1                83.955
2               83.6822
3               83.8186
dtype: object

In [283]:
Shelton_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Shelton_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Shelton_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Shelton_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Shelton_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Shelton_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Shelton_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Shelton_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Shelton_overall = (Shelton_read_ave + Shelton_math_ave)
Shelton_9th_sr = pd.Series(["Shelton High School","grade", Shelton_9th_read_ave, Shelton_12th_math_ave, Shelton_10th_read_ave, Shelton_11th_read_ave, Shelton_12th_read_ave,Shelton_9th_math_ave, Shelton_10th_math_ave, Shelton_11th_math_ave, Shelton_12th_math_ave])
print(Shelton_sr)

0    Shelton High School
1                83.7257
2                83.3595
3                83.5426
dtype: object

In [284]:
Thomas_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Thomas_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Thomas_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Thomas_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Thomas_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Thomas_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Thomas_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Thomas_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Thomas_overall = (Thomas_read_ave + Thomas_math_ave)
Thomas_9th_sr = pd.Series(["Thomas High School","grade", Thomas_9th_read_ave, Thomas_12th_math_ave, Thomas_10th_read_ave, Thomas_11th_read_ave, Thomas_12th_read_ave,Thomas_9th_math_ave, Thomas_10th_math_ave, Thomas_11th_math_ave, Thomas_12th_math_ave])
print(Thomas_sr)

0    Thomas High School
1               83.8489
2               83.4183
3               83.6336
dtype: object

In [285]:
Griffin_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Griffin_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Griffin_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Griffin_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Griffin_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Griffin_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Griffin_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Griffin_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Griffin_overall = (Griffin_read_ave + Griffin_math_ave)
Griffin_9th_sr = pd.Series(["Griffin High School","grade", Griffin_9th_read_ave, Griffin_12th_math_ave, Griffin_10th_read_ave, Griffin_11th_read_ave, Griffin_12th_read_ave,Griffin_9th_math_ave, Griffin_10th_math_ave, Griffin_11th_math_ave, Griffin_12th_math_ave])
print(Griffin_sr)

0    Griffin High School
1                83.8168
2                83.3515
3                83.5841
dtype: object

In [286]:
Pena_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Pena_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Pena_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Pena_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Pena_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Pena_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Pena_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Pena_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Pena_overall = (Pena_read_ave + Pena_math_ave)
Pena_9th_sr = pd.Series(["Pena High School","grade", Pena_9th_read_ave, Pena_12th_math_ave, Pena_10th_read_ave, Pena_11th_read_ave, Pena_12th_read_ave,Pena_9th_math_ave, Pena_10th_math_ave, Pena_11th_math_ave, Pena_12th_math_ave])
print(Pena_sr)

0    Pena High School
1             84.0447
2             83.8399
3             83.9423
dtype: object

In [287]:
Hernandez_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Hernandez_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Hernandez_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Hernandez_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Hernandez_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Hernandez_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Hernandez_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Hernandez_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()

In [288]:
Figueroa_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Figueroa_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Figueroa_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Figueroa_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Figueroa_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Figueroa_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Figueroa_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Figueroa_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Figueroa_overall = (Figueroa_read_ave + Figueroa_math_ave)
Figueroa_9th_sr = pd.Series(["Figueroa High School","grade", Figueroa_9th_read_ave, Figueroa_12th_math_ave, Figueroa_10th_read_ave, Figueroa_11th_read_ave, Figueroa_12th_read_ave,Figueroa_9th_math_ave, Figueroa_10th_math_ave, Figueroa_11th_math_ave, Figueroa_12th_math_ave])
print(Figueroa_sr)

NameError: name 'Figueroa_sr' is not defined

In [289]:
Rodriguez_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Rodriguez_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Rodriguez_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Rodriguez_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Rodriguez_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Rodriguez_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Rodriguez_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Rodriguez_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Rodriguez_overall = (Rodriguez_read_ave + Rodriguez_math_ave)
Rodriguez_9th_sr = pd.Series(["Rodriguez High School","grade", Rodriguez_9th_read_ave, Rodriguez_12th_math_ave, Rodriguez_10th_read_ave, Rodriguez_11th_read_ave, Rodriguez_12th_read_ave,Rodriguez_9th_math_ave, Rodriguez_10th_math_ave, Rodriguez_11th_math_ave, Rodriguez_12th_math_ave])
print(Rodriguez_sr)

NameError: name 'Rodriguez_sr' is not defined

In [290]:
Huang_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Huang_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Huang_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Huang_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Huang_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Huang_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Huang_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Huang_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Huang_overall = (Huang_read_ave + Huang_math_ave)
Huang_9th_sr = pd.Series(["Huang High School","grade", Huang_9th_read_ave, Huang_12th_math_ave, Huang_10th_read_ave, Huang_11th_read_ave, Huang_12th_read_ave,Huang_9th_math_ave, Huang_10th_math_ave, Huang_11th_math_ave, Huang_12th_math_ave])
print(type(Huang_sr))

NameError: name 'Huang_sr' is not defined

In [291]:
Ford_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Ford_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Ford_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Ford_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Ford_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Ford_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Ford_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Ford_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [293]:
print("Bottom Performing Schools by Passing Rate")
grouped_data_bottom = pd.DataFrame(topschool_df["math_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).agg([np.mean])
+ topschool_df["reading_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).agg([np.mean]))

(grouped_data_bottom/2).round(2).sort_values(by="mean")


#grouped_data =grouped_data/2
#grouped_data 
#print("Overall averages in Reading and Math per Grade Level\n")
#grouped_data.head(200).round(2).unstack()

Bottom Performing Schools by Passing Rate

                              mean
school_name           grade
Ford High School      12th   78.42
Rodriguez High School 10th   78.62
                      11th   78.63
Ford High School      11th   78.66
Bailey High School    12th   78.70
Huang High School     10th   78.71
Johnson High School   10th   78.73
Figueroa High School  11th   78.76
Huang High School     12th   78.77
Figueroa High School  9th    78.80
Huang High School     11th   78.93
Rodriguez High School 9th    78.93
Bailey High School    10th   78.95
Figueroa High School  10th   78.97
Ford High School      9th    79.00
Hernandez High School 10th   79.00
                      12th   79.02
Rodriguez High School 12th   79.03
Johnson High School   12th   79.05
                      11th   79.05
Hernandez High School 9th    79.15
Huang High School     9th    79.16
Bailey High School    9th    79.19
Johnson High School   9th    79.22
Bailey High School    11th   79.23
Hernandez High School 11th   79.27
Figueroa High School  12th   79.27
Ford High School      10th   79.47
Griffin High School   9th    82.71
Shelton High School   10th   83.18
                      12th   83.28
Cabrera High School   11th   83.28
Holden High School    10th   83.38
Cabrera High School   9th    83.39
Wilson High School    11th   83.48
Pena High School      10th   83.49
Wilson High School    9th    83.51
Thomas High School    11th   83.54
Wright High School    9th    83.55
Thomas High School    9th    83.66
                      12th   83.66
                      10th   83.67
Wilson High School    12th   83.68
Griffin High School   12th   83.68
Cabrera High School   10th   83.70
Pena High School      9th    83.72
Holden High School    9th    83.73
Shelton High School   9th    83.77
Holden High School    12th   83.78
Cabrera High School   12th   83.78
Wright High School    12th   83.86
Wilson High School    10th   83.87
Shelton High School   11th   83.88
Wright High School    10th   83.91
Griffin High School   10th   83.97
Wright High School    11th   84.00
Griffin High School   11th   84.07
Pena High School      11th   84.33
                      12th   84.36
Holden High School    11th   84.41

In [294]:
grouped_data_bottom.head()

                                 mean
school_name         grade
Bailey High School  10th   157.903955
                    11th   158.461231
                    12th   157.404669
                    9th    158.386831
Cabrera High School 10th   167.407725

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [59]:
print("Math Scores Average by Grade")
grouped_data_x = topschool_df["math_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).agg([np.mean]).round(2).unstack()
grouped_data_x
#+ topschool_df["reading_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).mean()
#grouped_data =grouped_data/2
#grouped_data 
#print("Overall averages in Reading and Math per Grade Level\n")
#grouped_data.head(200).round(2).unstack()

Math Scores Average by Grade

                        mean
grade                   10th   11th   12th    9th
school_name
Bailey High School     77.00  77.52  76.49  77.08
Cabrera High School    83.15  82.77  83.28  83.09
Figueroa High School   76.54  76.88  77.15  76.40
Ford High School       77.67  76.92  76.18  77.36
Griffin High School    84.23  83.84  83.36  82.04
Hernandez High School  77.34  77.14  77.19  77.44
Holden High School     83.43  85.00  82.86  83.79
Huang High School      75.91  76.45  77.23  77.03
Johnson High School    76.69  77.49  76.86  77.19
Pena High School       83.37  84.33  84.12  83.63
Rodriguez High School  76.61  76.40  77.69  76.86
Shelton High School    82.92  83.38  83.78  83.42
Thomas High School     83.09  83.50  83.50  83.59
Wilson High School     83.72  83.20  83.04  83.09
Wright High School     84.01  83.84  83.64  83.26

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [60]:
print("Reading Scores Average by Grade")
grouped_data_y = topschool_df["reading_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).agg([np.mean]).round(2).unstack()
grouped_data_y
#+ topschool_df["reading_score"].groupby([topschool_df["school_name"],topschool_df["grade"]]).mean()
#grouped_data =grouped_data/2
#grouped_data 
#print("Overall averages in Reading and Math per Grade Level\n")
#grouped_data.head(200).round(2).unstack()

Reading Scores Average by Grade

                        mean
grade                   10th   11th   12th    9th
school_name
Bailey High School     80.91  80.95  80.91  81.30
Cabrera High School    84.25  83.79  84.29  83.68
Figueroa High School   81.41  80.64  81.38  81.20
Ford High School       81.26  80.40  80.66  80.63
Griffin High School    83.71  84.29  84.01  83.37
Hernandez High School  80.66  81.40  80.86  80.87
Holden High School     83.32  83.82  84.70  83.68
Huang High School      81.51  81.42  80.31  81.29
Johnson High School    80.77  80.62  81.23  81.26
Pena High School       83.61  84.34  84.59  83.81
Rodriguez High School  80.63  80.86  80.38  80.99
Shelton High School    83.44  84.37  82.78  84.12
Thomas High School     84.25  83.59  83.83  83.73
Wilson High School     84.02  83.76  84.32  83.94
Wright High School     83.81  84.16  84.07  83.83

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [61]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
desc=Bailey["school_name"].describe()

## Scores by School Type

* Perform the same operations as above, based on school type.