### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
stu_df1 = "Resources/students_complete.csv"
school_df = "Resources/schools_complete.csv"
sch_overall_df = "Resources/students_complete.csv"
stu_df2 = "Resources/students_complete.csv"
sch_sum_df =  "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

stu_df1  = pd.read_csv(stu_df1)
school_df = pd.read_csv(school_df)
sch_overall_df = pd.read_csv(sch_overall_df)
stu_df2  = pd.read_csv(stu_df2)
sch_sum_df =  pd.read_csv(sch_sum_df)

#stu_df1 = "Resources/students_complete.csv"
#stu_df1  = pd.read_csv(stu_df1)
# set the index to 'None' via its name property 
#stu_df2.index.names = [None] 
#stu_df1.head()



# multiple indexing or hierarchical indexing for Math scores and Grade level
 
#subj_df=subj_df.set_index("school_name", "grade")
#subj_df

#subj_df=subj_df.reset_index()
#subj_df
sch_overall_df.set_index("school_name")

In [ ]:
number_sch = school_data["School ID"].count()
school_data["number_sch"] = number_sch
number_sch
print(number_sch)

In [ ]:
school_data.head()

In [ ]:
#Calculate the total number of students
students_count =student_data["Student ID"].count()
student_data["students_count"] = students_count
students_count

In [ ]:
#Calculate the total budget
total_budget= school_data["budget"].sum()
school_data["total_budget"] = total_budget
print(total_budget)

In [ ]:
#Calculate the average math score
ave_math_score= student_data["math_score"].mean()
student_data["ave_math_score"] = ave_math_score
student_data["ave_math_score"].round(2)

In [ ]:
#Calculate the average reading score
ave_read_score= student_data["reading_score"].mean()
student_data["ave_read_score"] = ave_read_score
student_data["ave_read_score"].round(2)

In [ ]:
#Calculate the overall passing rate (overall average score)
overall_pass_rate =(student_data["ave_read_score"] + student_data["ave_math_score"])/2
student_data["overall_pass_rate"] = overall_pass_rate
overall_pass_rate
student_data["overall_pass_rate"].round(2)

In [ ]:
#Calculate the total number of students
students_count =student_data["Student ID"].count()
student_data["students_count"] = students_count
students_count

In [ ]:
pass_math=student_data["math_score"]>=70
student_data["pass_math"] = pass_math
pass_math

In [ ]:
pass_math_count = student_data["pass_math"].sum()
pass_math_count

In [ ]:
over_70_math =(pass_math_count/student_data["students_count"])*100
student_data["over_70_math"] = over_70_math
over_70_math
student_data["over_70_math"].round(2)

In [ ]:
pass_read=student_data["reading_score"]>=70
student_data["pass_read"] = pass_read
pass_read

In [ ]:
pass_read_count = student_data["pass_read"].sum()
pass_read_count

In [ ]:
over_70_read =(pass_read_count/student_data["students_count"])*100
student_data["over_70_read"] = over_70_read
over_70_read
student_data.round({"over_70_read": 1})
over_70_read.head(3)

In [ ]:
data_merge = pd.merge(school_data, student_data, on="school_name", how="outer")
(data_merge.head(1).round(2))

In [ ]:
district_summary = data_merge.rename(columns={"number_sch": "Total Schools", "students_count": "Total Students", "total_budget": "Total Budget","ave_math_score": "Ave Math Score", "ave_reading_score": "Ave Reading Score", "over_70_math": "% Passing Math", "over_70_read": "% Passing Reading", "overall_pass_rate": "Overall Passing Rate"})
(district_summary.head(2).round(2))

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate
school_data.describe()

In [1]:
#Create a new dataframe called top_df for top/bottom performance of each schools

data ={
    
"school_name":["Johnson High School","Bailey High School", "Hernandez High School", "Huang High School",
               "Figueroa Huang High School","Rodriguez High School",
"Ford High School", "Wilson High School", "Cabrera High School", "Wright High School", "Shelton High School", 
"Thomas High School","Griffin High School", "Pena High School", "Holden High School"],
       
"read_ave" :[Johnson_9th_read_ave,Bailey_read_ave, Hernandez_read_ave, Huang_read_ave, Figueroa_read_ave, Rodriguez_read_ave,
Ford_read_ave, Wilson_read_ave, Cabrera_read_ave, Wright_read_ave, Shelton_read_ave, Thomas_read_ave,
Griffin_read_ave, Pena_read_ave, Holden_read_ave],
        
"math_ave" :[Johnson_math_ave,Bailey_math_ave, Hernandez_math_ave, Huang_math_ave,Figueroa_math_ave,Rodriguez_math_ave,
Ford_math_ave, Wilson_math_ave, Cabrera_math_ave, Wright_math_ave, Shelton_math_ave, Thomas_math_ave,
Griffin_math_ave, Pena_math_ave, Holden_math_ave],
       
}


                        
top_df = pd.DataFrame(data, columns=["School Name", "Read Ave", "Math Ave"])
top_df
top_df.head()

NameError: name 'Johnson_9th_read_ave' is not defined

In [ ]:
#Sort and display the top five schools in overall passing rate school
top_df=top_df.sort_values("overall_ave", ascending=False)
print("\n\nSort and display the top five schools in overall passing rate school\n")
top_df.head(10).round(2)

In [ ]:
print("\nBottom Performing Schools (By Passing Rate)\n")
print("Sort and display the five worst-performing schools")
top_df=top_df.sort_values("overall_ave")
top_df.head(10).round(2)

In [ ]:
# removing null values to avoid errors  
stu_df1.fillna(value = 0)
stu_df2.fillna(value = 0)
sch_overall_df.set_index("school_name")

In [ ]:
#data_merge.head()
#school_df= data_merge.copy()
school_df.head()

In [ ]:
top_df.merge(school_data, student_data, on="school_name", how =outer)

In [ ]:
Johnson_read_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School", "reading_score"].mean()
["Johnson_read_ave"] = Johnson_read_ave
Johnson_math_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School", "math_score"].mean()
school_data[Johnson_math_ave] = Johnson_math_ave
#Johnson_sr = pd.Series(["Johnson High School",Johnson_read_ave,Johnson_math_ave, Johnson_overall])
#print(Johnson_sr)
#sch_sum_df

In [ ]:
Johnson_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
stu_df2[Johnson_9th_read_ave] = Johnson_9th_read_ave

In [ ]:
stu_df2.loc["school_name", "reading_score"]

In [ ]:
stu_df2.head()

data= {"Read 9th Ave" : stu_df2[
Huang_9th_read_ave, Figueroa_9th_read_ave, Shelton_9th_read_ave, Hernandez_9th_read_ave , Griffin_9th_read_ave, Wilson_9th_read_ave, Cabrera_9th_read_ave, Bailey_9th_read_ave, Holden_9th_read_ave, Pena_9th_read_ave, Wright_9th_read_ave, Rodriguez_9th_read_ave, Johnson_9th_read_ave, Ford_9th_read_ave, Thomas_9th_read_ave]}

school_data = school_data(data, columns=["9th Read Ave"])

print(school_data)

In [ ]:
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School", "reading_score"].mean()
Bailey_read_ave
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School", "math_score"].mean()
Bailey_math_ave
Bailey_overall = (Bailey_read_ave + Bailey_math_ave)/2
Bailey_overall 

Bailey_sr = pd.Series(["Bailey High School",Bailey_read_ave,Bailey_math_ave, Bailey_overall])
print(Bailey_sr)

In [ ]:
Rodriguez_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School", "reading_score"].mean()
Rodriguez_read_ave
Rodriguez_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School", "math_score"].mean()
Rodriguez_math_ave
Rodriguez_overall = (Rodriguez_read_ave + Rodriguez_math_ave)/2
Rodriguez_overall 

Rodriguez_sr = pd.Series(["Rodriguez High School",Rodriguez_read_ave,Rodriguez_math_ave, Rodriguez_overall])
print(Rodriguez_sr)

In [ ]:
Figueroa_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School", "reading_score"].mean()
Figueroa_read_ave
Figueroa_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School", "math_score"].mean()
Figueroa_math_ave
Figueroa_overall = (Figueroa_read_ave + Figueroa_math_ave)/2
Figueroa_overall 

Figueroa_sr = pd.Series(["Figueroa High School",Figueroa_read_ave,Figueroa_math_ave, Figueroa_overall])
print(Figueroa_sr)

In [ ]:
Huang_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School", "reading_score"].mean()
Huang_read_ave
Huang_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School", "math_score"].mean()
Huang_math_ave
Huang_overall = (Huang_read_ave + Huang_math_ave)/2
Huang_overall 

Huang_sr = pd.Series(["Huang High School",Huang_read_ave,Huang_math_ave, Huang_overall])
print(Huang_sr)

In [ ]:
Ford_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School", "reading_score"].mean()
Ford_read_ave
Ford_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School", "math_score"].mean()
Ford_math_ave
Ford_overall = (Ford_read_ave + Ford_math_ave)/2
Ford_overall 

Ford_sr = pd.Series(["Ford High School",Ford_read_ave,Ford_math_ave, Ford_overall])
print(Ford_sr)

In [ ]:
Wilson_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School", "reading_score"].mean()
Wilson_read_ave
Wilson_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School", "math_score"].mean()
Wilson_math_ave
Wilson_overall = (Wilson_read_ave + Wilson_math_ave)/2
Wilson_overall 

Wilson_sr = pd.Series(["Wilson High School",Wilson_read_ave,Wilson_math_ave, Wilson_overall])
print(Wilson_sr)

In [ ]:
Cabrera_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School", "reading_score"].mean()
Cabrera_read_ave
Cabrera_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School", "math_score"].mean()
Cabrera_math_ave
Cabrera_overall = (Cabrera_read_ave + Cabrera_math_ave)/2
Cabrera_overall 

Cabrera_sr = pd.Series(["Cabrera High School",Cabrera_read_ave,Cabrera_math_ave, Cabrera_overall])
print(Cabrera_sr)

In [ ]:
Wright_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School", "reading_score"].mean()
Wright_read_ave
Wright_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School", "math_score"].mean()
Wright_math_ave
Wright_overall = (Wright_read_ave + Wright_math_ave)/2
Wright_overall 

Wright_sr = pd.Series(["Wright High School",Wright_read_ave,Wright_math_ave, Wright_overall])
print(Wright_sr)

In [ ]:
Shelton_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School", "reading_score"].mean()
Shelton_read_ave
Shelton_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School", "math_score"].mean()
Shelton_math_ave
Shelton_overall = (Shelton_read_ave + Shelton_math_ave)/2
Shelton_overall 

Shelton_sr = pd.Series(["Shelton High School",Shelton_read_ave,Shelton_math_ave, Shelton_overall])
print(Shelton_sr)

In [ ]:
Thomas_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School", "reading_score"].mean()
Thomas_read_ave
Thomas_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School", "math_score"].mean()
Thomas_math_ave
Thomas_overall = (Thomas_read_ave + Thomas_math_ave)/2
Thomas_overall 

Thomas_sr = pd.Series(["Thomas High School",Thomas_read_ave,Thomas_math_ave, Thomas_overall])
print(Thomas_sr)

In [ ]:
Griffin_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School", "reading_score"].mean()
Griffin_read_ave
Griffin_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School", "math_score"].mean()
Griffin_math_ave
Griffin_overall = (Griffin_read_ave + Griffin_math_ave)/2
Griffin_overall 

Griffin_sr = pd.Series(["Griffin High School",Griffin_read_ave,Griffin_math_ave, Griffin_overall])
print(Griffin_sr)

In [ ]:
Pena_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School", "reading_score"].mean()
Pena_read_ave
Pena_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School", "math_score"].mean()
Pena_math_ave
Pena_overall = (Pena_read_ave + Pena_math_ave)/2
Pena_overall 

Pena_sr = pd.Series(["Pena High School",Pena_read_ave,Pena_math_ave, Pena_overall])
print(Pena_sr)

In [ ]:
Holden_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School", "reading_score"].mean()
Holden_read_ave
Holden_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School", "math_score"].mean()
Holden_math_ave
Holden_overall = (Holden_read_ave + Holden_math_ave)/2
Holden_overall 

Holden_sr = pd.Series(["Holden High School",Holden_read_ave,Holden_math_ave, Holden_overall])
print(Holden_sr)

In [ ]:
Johnson_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Johnson_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Johnson_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Johnson_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Johnson_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Johnson_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Johnson_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Johnson_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Johnson High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Johnson_overall = (Johnson_read_ave + Johnson_math_ave)
Johnson_9th_sr = pd.Series(["Johnson High School","grade", Johnson_9th_read_ave, Johnson_12th_math_ave, Johnson_10th_read_ave, Johnson_11th_read_ave, Johnson_12th_read_ave,Johnson_9th_math_ave, Johnson_10th_math_ave, Johnson_11th_math_ave, Johnson_12th_math_ave])
print(Johnson_sr)

In [ ]:
Holden_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
school_data[Holden_9th_read_ave] = Holden_9th_read_ave
Holden_9th_read_ave

In [ ]:



Holden_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Holden_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Holden_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Holden_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Holden_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Holden_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Holden_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Holden High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Holden_overall = (Holden_read_ave + Holden_math_ave)
Holden_9th_sr = pd.Series(["Holden High School","grade", Holden_9th_read_ave, Holden_12th_math_ave, Holden_10th_read_ave, Holden_11th_read_ave, Holden_12th_read_ave,Holden_9th_math_ave, Holden_10th_math_ave, Holden_11th_math_ave, Holden_12th_math_ave])
print(Holden_sr)

In [ ]:
Bailey_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Bailey_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Bailey_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Bailey_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Bailey_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Bailey_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Bailey_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Bailey_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Bailey_overall = (Bailey_read_ave + Bailey_math_ave)
Bailey_9th_sr = pd.Series(["Bailey High School","grade", Bailey_9th_read_ave, Bailey_12th_math_ave, Bailey_10th_read_ave, Bailey_11th_read_ave, Bailey_12th_read_ave,Bailey_9th_math_ave, Bailey_10th_math_ave, Bailey_11th_math_ave, Bailey_12th_math_ave])
print(Bailey_sr)

In [ ]:
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Bailey_read_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Bailey_math_ave = stu_df2.loc[stu_df2["school_name"] =="Bailey High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Bailey_overall = (Bailey_read_ave + Bailey_math_ave)
Bailey_9th_sr = pd.Series(["Bailey High School", Bailey_read_ave,Bailey_math_ave, Bailey_overall])
print(Bailey_sr)

In [ ]:
Wilson_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Wilson_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Wilson_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Wilson_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Wilson_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Wilson_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Wilson_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Wilson_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wilson High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Wilson_overall = (Wilson_read_ave + Wilson_math_ave)
Wilson_9th_sr = pd.Series(["Wilson High School","grade", Wilson_9th_read_ave, Wilson_12th_math_ave, Wilson_10th_read_ave, Wilson_11th_read_ave, Wilson_12th_read_ave,Wilson_9th_math_ave, Wilson_10th_math_ave, Wilson_11th_math_ave, Wilson_12th_math_ave])
print(Wilson_sr)

In [ ]:
Cabrera_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Cabrera_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Cabrera_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Cabrera_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Cabrera_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Cabrera_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Cabrera_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Cabrera_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Cabrera High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Cabrera_overall = (Cabrera_read_ave + Cabrera_math_ave)
Cabrera_9th_sr = pd.Series(["Cabrera High School","grade", Cabrera_9th_read_ave, Cabrera_12th_math_ave, Cabrera_10th_read_ave, Cabrera_11th_read_ave, Cabrera_12th_read_ave,Cabrera_9th_math_ave, Cabrera_10th_math_ave, Cabrera_11th_math_ave, Cabrera_12th_math_ave])
print(Cabrera_sr)

In [ ]:
Wright_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Wright_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Wright_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Wright_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Wright_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Wright_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Wright_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Wright_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Wright High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Wright_overall = (Wright_read_ave + Wright_math_ave)
Wright_9th_sr = pd.Series(["Wright High School","grade", Wright_9th_read_ave, Wright_12th_math_ave, Wright_10th_read_ave, Wright_11th_read_ave, Wright_12th_read_ave,Wright_9th_math_ave, Wright_10th_math_ave, Wright_11th_math_ave, Wright_12th_math_ave])
print(Wright_sr)

In [ ]:
Shelton_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Shelton_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Shelton_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Shelton_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Shelton_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Shelton_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Shelton_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Shelton_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Shelton High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Shelton_overall = (Shelton_read_ave + Shelton_math_ave)
Shelton_9th_sr = pd.Series(["Shelton High School","grade", Shelton_9th_read_ave, Shelton_12th_math_ave, Shelton_10th_read_ave, Shelton_11th_read_ave, Shelton_12th_read_ave,Shelton_9th_math_ave, Shelton_10th_math_ave, Shelton_11th_math_ave, Shelton_12th_math_ave])
print(Shelton_sr)

In [ ]:
Thomas_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Thomas_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Thomas_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Thomas_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Thomas_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Thomas_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Thomas_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Thomas_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Thomas High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Thomas_overall = (Thomas_read_ave + Thomas_math_ave)
Thomas_9th_sr = pd.Series(["Thomas High School","grade", Thomas_9th_read_ave, Thomas_12th_math_ave, Thomas_10th_read_ave, Thomas_11th_read_ave, Thomas_12th_read_ave,Thomas_9th_math_ave, Thomas_10th_math_ave, Thomas_11th_math_ave, Thomas_12th_math_ave])
print(Thomas_sr)

In [ ]:
Griffin_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Griffin_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Griffin_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Griffin_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Griffin_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Griffin_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Griffin_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Griffin_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Griffin High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Griffin_overall = (Griffin_read_ave + Griffin_math_ave)
Griffin_9th_sr = pd.Series(["Griffin High School","grade", Griffin_9th_read_ave, Griffin_12th_math_ave, Griffin_10th_read_ave, Griffin_11th_read_ave, Griffin_12th_read_ave,Griffin_9th_math_ave, Griffin_10th_math_ave, Griffin_11th_math_ave, Griffin_12th_math_ave])
print(Griffin_sr)

In [ ]:
Pena_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Pena_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Pena_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Pena_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Pena_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Pena_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Pena_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Pena_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Pena High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Pena_overall = (Pena_read_ave + Pena_math_ave)
Pena_9th_sr = pd.Series(["Pena High School","grade", Pena_9th_read_ave, Pena_12th_math_ave, Pena_10th_read_ave, Pena_11th_read_ave, Pena_12th_read_ave,Pena_9th_math_ave, Pena_10th_math_ave, Pena_11th_math_ave, Pena_12th_math_ave])
print(Pena_sr)

In [ ]:
Hernandez_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Hernandez_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Hernandez_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Hernandez_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Hernandez_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Hernandez_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Hernandez_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Hernandez_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Hernandez High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Hernandez_overall = (Hernandez_read_ave + Hernandez_math_ave)
Hernandez_9th_sr = pd.Series(["Hernandez High School","grade", Hernandez_9th_read_ave, Hernandez_12th_math_ave, Hernandez_10th_read_ave, Hernandez_11th_read_ave, Hernandez_12th_read_ave,Hernandez_9th_math_ave, Hernandez_10th_math_ave, Hernandez_11th_math_ave, Hernandez_12th_math_ave])
print(Hernandez_sr)

In [ ]:
Figueroa_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Figueroa_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Figueroa_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Figueroa_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Figueroa_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Figueroa_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Figueroa_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Figueroa_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Figueroa High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Figueroa_overall = (Figueroa_read_ave + Figueroa_math_ave)
Figueroa_9th_sr = pd.Series(["Figueroa High School","grade", Figueroa_9th_read_ave, Figueroa_12th_math_ave, Figueroa_10th_read_ave, Figueroa_11th_read_ave, Figueroa_12th_read_ave,Figueroa_9th_math_ave, Figueroa_10th_math_ave, Figueroa_11th_math_ave, Figueroa_12th_math_ave])
print(Figueroa_sr)

In [ ]:
Rodriguez_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Rodriguez_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Rodriguez_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Rodriguez_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Rodriguez_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Rodriguez_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Rodriguez_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Rodriguez_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Rodriguez High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Rodriguez_overall = (Rodriguez_read_ave + Rodriguez_math_ave)
Rodriguez_9th_sr = pd.Series(["Rodriguez High School","grade", Rodriguez_9th_read_ave, Rodriguez_12th_math_ave, Rodriguez_10th_read_ave, Rodriguez_11th_read_ave, Rodriguez_12th_read_ave,Rodriguez_9th_math_ave, Rodriguez_10th_math_ave, Rodriguez_11th_math_ave, Rodriguez_12th_math_ave])
print(Rodriguez_sr)

In [ ]:
Huang_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Huang_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Huang_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Huang_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Huang_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Huang_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Huang_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Huang_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Huang High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Huang_overall = (Huang_read_ave + Huang_math_ave)
Huang_9th_sr = pd.Series(["Huang High School","grade", Huang_9th_read_ave, Huang_12th_math_ave, Huang_10th_read_ave, Huang_11th_read_ave, Huang_12th_read_ave,Huang_9th_math_ave, Huang_10th_math_ave, Huang_11th_math_ave, Huang_12th_math_ave])
print(type(Huang_sr))

In [ ]:
Ford_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Ford_10th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "reading_score"].mean()
Ford_11th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "reading_score"].mean()
Ford_12th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "reading_score"].mean()
Ford_9th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "math_score"].mean()
Ford_10th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="10th",  "math_score"].mean()
Ford_11th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="11th",  "math_score"].mean()
Ford_12th_math_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="12th",  "math_score"].mean()
#Ford_overall = (Ford_read_ave + Ford_math_ave)
data ={"Ford High School",Ford_9th_read_ave, Ford_12th_math_ave, Ford_10th_read_ave, Ford_11th_read_ave, Ford_12th_read_ave,Ford_9th_math_ave, Ford_10th_math_ave, Ford_11th_math_ave, Ford_12th_math_ave}
Ford_9th_sr = pd.Series([data, index=[""]"Ford High School","grade", Ford_9th_read_ave, Ford_12th_math_ave, Ford_10th_read_ave, Ford_11th_read_ave, Ford_12th_read_ave,Ford_9th_math_ave, Ford_10th_math_ave, Ford_11th_math_ave, Ford_12th_math_ave])

print(Ford_sr)

In [ ]:
sch_sum_df.head()

In [ ]:
Ford_9th_read_ave = stu_df2.loc[stu_df2["school_name"] =="Ford High School"], stu_df2.loc[stu_df2["grade"] =="9th",  "reading_score"].mean()
Ford_9th_read_ave

In [ ]:
school = ["Johnson High School","Bailey High School", "Hernandez High School", "Huang High School",
          "Figueroa Huang High School","Rodriguez High School", "Ford High School", "Wilson High School", 
          "Cabrera High School", "Wright High School", "Shelton High School", "Thomas High School",
          "Griffin High School", "Pena High School", "Holden High School"]

read_9th_ave = [Bailey_9th_read_ave,Cabrera_9th_read_ave,Figueroa_9th_read_ave,Ford_9th_read_ave,Griffin_9th_read_ave,
Hernandez_9th_read_ave, Holden_9th_read_ave,Huang_9th_read_ave,Johnson_9th_read_ave,Pena_9th_read_ave,
Rodriguez_9th_read_ave,Shelton_9th_read_ave,Thomas_9th_read_ave,Wilson_9th_read_ave,Wright_9th_read_ave]

read_10th_ave = [Bailey_10th_read_ave,Cabrera_10th_read_ave,Figueroa_10th_read_ave,Ford_10th_read_ave,Griffin_10th_read_ave,
Hernandez_10th_read_ave,Holden_10th_read_ave,Huang_10th_read_ave,Johnson_10th_read_ave,Pena_10th_read_ave,
Rodriguez_10th_read_ave,Shelton_10th_read_ave,Thomas_10th_read_ave,Wilson_10th_read_ave,Wright_10th_read_ave]

read_11th_ave = [Bailey_11th_read_ave,Cabrera_11th_read_ave,Figueroa_11th_read_ave,Ford_11th_read_ave,
Griffin_11th_read_ave,Hernandez_11th_read_ave,Holden_11th_read_ave,Huang_11th_read_ave,Johnson_11th_read_ave,
Pena_11th_read_ave,Rodriguez_11th_read_ave,Shelton_11th_read_ave,Thomas_11th_read_ave,Wilson_11th_read_ave,
Wright_11th_read_ave]

read_12th_ave = [Bailey_12th_read_ave,Cabrera_12th_read_ave,Figueroa_12th_read_ave,Ford_12th_read_ave,Griffin_12th_read_ave,
Hernandez_12th_read_ave,Holden_12th_read_ave,Huang_12th_read_ave,Johnson_12th_read_ave,Pena_12th_read_ave,
Rodriguez_12th_read_ave,Shelton_12th_read_ave,Thomas_12th_read_ave,Wilson_12th_read_ave,Wright_12th_read_ave]

mt_9th_ave = [Bailey_9th_math_ave,Cabrera_9th_math_ave,Figueroa_9th_math_ave,Ford_9th_math_ave,Griffin_9th_math_ave,
Hernandez_9th_math_ave,Holden_9th_math_ave,Huang_9th_math_ave,Johnson_9th_math_ave,Pena_9th_math_ave,
Rodriguez_9th_math_ave,Shelton_9th_math_ave,Thomas_9th_math_ave,Wilson_9th_math_ave,Wright_9th_math_ave]

mt_10th_ave =[Bailey_10th_math_ave,Cabrera_10th_math_ave,Figueroa_10th_math_ave,Ford_10th_math_ave,
Griffin_10th_math_ave,Hernandez_10th_math_ave,Holden_10th_math_ave,Huang_10th_math_ave,Johnson_10th_math_ave,
Pena_10th_math_ave,Rodriguez_10th_math_ave,Shelton_10th_math_ave,Thomas_10th_math_ave,Wilson_10th_math_ave,
Wright_10th_math_ave]

mt_11th_ave = [Bailey_11th_math_ave, Cabrera_11th_math_ave,Figueroa_11th_math_ave,Ford_11th_math_ave,
Griffin_11th_math_ave,Hernandez_11th_math_ave,Holden_11th_math_ave,Huang_11th_math_ave,Johnson_11th_math_ave,
Pena_11th_math_ave,Rodriguez_11th_math_ave,Shelton_11th_math_ave,Thomas_11th_math_ave,Wilson_11th_math_ave,
Wright_11th_math_ave]

mt_12th_ave = [Bailey_12th_math_ave,Cabrera_12th_math_ave,Figueroa_12th_math_ave,Ford_12th_math_ave,
Griffin_12th_math_ave,Hernandez_12th_math_ave,Holden_12th_math_ave,Huang_12th_math_ave,Johnson_12th_math_ave,
Pena_12th_math_ave,Rodriguez_12th_math_ave,Shelton_12th_math_ave,Thomas_12th_math_ave,Wilson_12th_math_ave,
Wright_12th_math_ave]

school_sr = pd.Series(stu_df2["school_name"])
rd_9th_sr = pd.Series(read_9th_ave)
rd_10th_sr = pd.Series(read_10th_ave)
rd_11th_sr = pd.Series(read_11th_ave)
rd_12th_sr = pd.Series(read_12th_ave)
mt_9th_sr = pd.Series(mt_9th_ave)
mt_10th_sr = pd.Series(mt_10th_ave)
mt_11th_sr = pd.Series(mt_11th_ave)
mt_12th_sr = pd.Series(mt_12th_ave)

frame = {
"High School": school, "9th Reading Ave": read_9th_ave,"10th Reading Ave": read_10th_ave,
"11th Reading Ave": read_11th_ave,"12th Reading Ave": read_12th_ave,"9th Math Ave": math_9th_ave,
"10th Math Ave": math_10th_ave,"11th Math Ave": math_11th_ave,"12th Math Ave": math_12th_ave
}

school_result = pd.DataFrame(frame)

print(school_result)

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
school_result.describe()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
Ford =pd.Series(Ford_9th_sr)
print(Ford)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
print

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
desc=Bailey["school_name"].describe()

## Scores by School Type

* Perform the same operations as above, based on school type.